<div class="userTop-container">
  <div class="bannder-container">
    <div class="bannder-img">
    </div>
  </div>

  <div class="user-container">
    <div class="userAva">
      {{#if userDataClient.img}}
        <img src="{{userDataClient.img}}" alt="avatar" />
      {{else}}
        <img src="../../../img/others_imgs/default_userAva.jpg" alt="avatar" />
      {{/if}}
    </div>
    <div class="userName">
      {{#if userDataClient.name}}
        <span>{{userDataClient.name}}</span>
      {{else}}
        <span>{{userDataClient.name}}</span>
      {{/if}}
    </div>
  </div>
</div>

<div class="userMiddle-container">
  <div class="rightInfo-container">
    <div class="introduction-container">
      <div class="introduceSelf-container">
        <p>Giới thiệu</p>
      </div>
      <hr />
      <div class="othersSelf-container">
        <p>Thành viên của BeYourself từ
          {{formatDate userDataClient.date_created}}</p>
      </div>
    </div>

    <div class="testsJoined-container">
      <p>Bài kiểm tra đã tham gia</p>
      {{#if userDataClient.testType1}}
        <div class="testType1-container">
         <img
              src="../../../img/others_imgs/demo_Holland.png"
              alt=""
              class="Holland-img"
            />
            <p>Bài kiếm tra hướng nghiệp Holland</p></a>
        </div>
      {{/if}}

      {{#if userDataClient.testType2}}
        <div class="testType2-container">
         <img
              src="../../../img/others_imgs/demo_Mbti.png"
              alt=""
              class="Mbti-img"
            />
            <p>Bài kiếm tra tính cách Mbti</p></a>
        </div>
      {{/if}}

    </div>
  </div>
  <div class="leftInfo-container">
    <div class="othersActivities-container">
      <p>Hoạt động gần đây</p> 
      {{#each userCommentClient}}
        <div class="comment-container">
          <div class="userComment">
            <p>Đã comment
              <q><i>{{this.message}}</i></q>
              vào lúc
              {{formatDate this.timestamp}}
              tại
              <strong>{{this.place}}</strong></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>