@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

body {
  width: 100%;
  height: 110vh;
  background-image: url(/img/others_imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 110vh;
  justify-content: center;
  position: relative;
  padding-top: 45px;
}
.container .btn {
  position: relative;
  margin: 0 10px;
  top: 10px;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  border-radius: 70px;
  overflow: hidden;
  font-family: hywen;
  background-color: rgba(50, 50, 50, 0.3);
}
.container .btn a {
  color: white;
}
.container .btn:hover {
  border: 2px solid white;
}
.active {
  display: block;
}

.unactive {
  display: none;
}

.processallcontai {
  width: 100%;
  display: flex;
  height: 50px;
  position: relative;
  padding: 10px 0 0 0;
  background-color: rgb(50, 50, 50);
  bottom: 0px;
  left: 0px;
}
.progress-container {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.progress-container.change {
  flex-direction: row-reverse;
}
.progress-bar {
  height: 100%;
  width: 0;
  background-color: #76c7c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 25px;
  transition: width 0.5s ease-in-out;
}
#choose {
  position: absolute;
  display: block;
  border-radius: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 350px;
  background: rgba(50, 50, 50, 0.2);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#butchose {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
#slidembti {
  width: 48%;
  height: 100%;
  padding: 10px 10px 30px 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: rgba(50, 50, 50);
  overflow: hidden;
  position: relative;
}
#slidembti p {
  font-family: "hywen";
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  white-space: pre-line;
  text-align: left;
  margin: 0;
  color: white;
}
.instruction {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: rgba(50, 50, 50);
  text-align: left;
}
#contaidiagram {
  width: 48%;
  height: 100%;
  padding: 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: rgba(250, 250, 250);
  overflow: hidden;
  position: relative;
}
.btnpr {
  position: absolute;
  background-color: rgba(130, 130, 130, 0.5);
  border: none;
  padding: 2.5px;
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 10000;
}
#btnlt {
  right: 50px;
}
#contaiprocess {
  display: flex;
  flex-direction: row;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  left: 0;
  position: relative;
}
.process {
  height: 100%;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  padding: 10px;
  flex-direction: column;
}
.process img {
  width: 300px;
  margin: 20 auto;
}
.process label {
  flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14px;
  color: white;
}
.contenimgprocess {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.comment {
  width: 48%;
  height: 100%;
  padding: 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: transparent;
  text-align: left;
}
.comment h4 {
  line-height: 25px;
  font-size: 20px;
  font-family: system-ui;
  font-weight: 500;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: white;
  white-space: pre-line;
}
.comment h3 {
  font-size: 20px;
  font-family: system-ui;
  overflow: auto;
  height: 100%;
  white-space: pre-line;
  font-weight: 500;
  color: white;
}
.indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 5px;
  height: 5px;
  background-color: rgba(130, 130, 130, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: rgba(250, 250, 250);
}
#test-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100000vw;
  top: 60vh;
  transform: translateY(-50%);
}

.sceentest {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.testc {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  height: 80vh;
  border-radius: 30px;
  text-align: center;
  padding: 8vh;
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(40px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
@media only screen and (max-width: 1100px) {
  h4 {
    font-size: 18px;
  }

  #butchose button {
    width: 170px;
    height: 170px;
  }

  #butchose {
    padding: 20px;
    padding-top: 45px;
  }
}

@media only screen and (max-width: 850px) {
  #choose {
    width: 500px;
    height: 330px;
  }
  #butchose button {
    width: 150px;
    height: 150px;
  }

  .testc {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }
  .quesans2 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 50%;
    height: 85%;
  }

  .dividem {
    flex-direction: column;
    height: fit-content;
    margin: auto;
  }

  #demoM {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .quesans {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20%;
    width: 50%;
    height: 60%;
    flex-wrap: wrap;
  }

  .quesans button {
    width: 95%;
    height: 35%;
  }
  #fistest1 {
    height: 50px;
  }
  .divide {
    height: 100%;
    width: 45%;
    margin-bottom: 25px;
  }

  .divide button {
    width: 100%;
    height: 46%;
  }
  .comment {
    width: 100%;
    height: 48%;
  }
  #contaidiagram {
    width: 100%;
    height: 48%;
  }
  #slidembti {
    width: 100%;
    height: 48%;
    padding: 10px 10px 20px 10px;
  }
  .process img {
    padding: 20px;
    margin: 0;
  }
  .contenimgprocess {
    flex-direction: row;
    overflow: hidden;
  }
  #slidembti p {
    overflow: auto;
  }
}

@media only screen and (max-width: 550px) {
  h2 {
    font-size: 22px;
  }

  #choose {
    width: 90%;
    height: 300px;
  }

  #butchose button {
    width: 130px;
    height: 130px;
  }

  #butchose {
    padding-top: 40px;
  }

  .instruction {
    font-size: 20px;
  }

  .ques {
    width: 100%;
    height: 35%;
    margin: 0;
  }

  .quesans {
    margin-top: 0px;
    margin-bottom: 80px;
    width: 100%;
    height: 40%;
    flex-wrap: wrap;
  }

  .quesans button {
    width: 95%;
    height: 35%;
  }
  #fistest1 {
    margin: 0;
    height: 50px;
  }
  .divide {
    height: 90%;
    width: 45%;
    margin-bottom: 20px;
  }

  .divide button {
    width: 100%;
    height: 44%;
  }

  .submitBtnContainer {
    height: 50px;
  }

  #demoM {
    width: 100%;
    height: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .dividem {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .quesans2 {
    width: 100%;
    height: 50%;
    padding: 20px;
  }
  .process img {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
  }
  .contenimgprocess {
    flex-direction: column;
    overflow: auto;
  }
  #slidembti p {
    overflow: unset;
  }
}
