/*------------------------------------------------------------------------------------Basic------------------------------------------------------------------*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  padding: 0px;
  font-size: 17px;
  font-weight: 200;
  color: white;
}

h2 {
  font-size: 25px;
  padding: 20px;
  font-weight: 200;
  color: white;
}

h4 {
  line-height: 25px;
  font-size: 20px;
  font-family: hywen;
  font-weight: 100;
  color: white;
  height: 100%;
  width: 100%;
  overflow: auto;
  white-space: pre-line;
}
.comment h4 {
  line-height: 25px;
  font-size: 20px;
  font-family: system-ui;
  font-weight: 500;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: white;
  white-space: pre-line;
}
#choose h2 {
  padding-top: 40px;
  padding-bottom: 0px;
}

#test-container h2 {
  font-weight: 100;
}

/*--------------------------------------------------------------------------------Button----------------------------------------------------------------------------*/

#butchose button {
  display: block;
  border: none;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  width: 180px;
  height: 180px;
  border: 3px solid black;
  background-color: rgba(50, 50, 50);
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

#butchose button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  border-radius: inherit;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

#butchose button:hover {
  background: rgba(100, 100, 100);
  transform: translate(0, 0.25em);
}

#butchose button:hover::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0.5em, -1em);
}

#butchose button:active {
  transform: translate(0em, 0.75em);
}

#butchose button:active::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0, -1em);
}

.quesans button {
  width: 31%;
  height: 100%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition-duration: 0.2s;
  font-family: hywen;
  font-size: 18px;
  font-weight: 50;
  background-color: rgba(50, 50, 50);
  color: white;
}

.divide button {
  width: 100%;
  height: 47%;
  cursor: pointer;
  background-color: rgba(50, 50, 50);
  color: white;
}

#fistest1 {
  width: 100%;
  height: 50px;
  display: flex !important;
  flex-direction: row-reverse;
}

#fistest1 img {
  width: 50px;
  height: 50px;
}

.arrowright {
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 10px;
}

.arrowright img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.arrowleft {
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
}

.arrowleft img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

#submitBtn {
  cursor: pointer;
  font-family: hywen;
  font-size: 18px;
  font-weight: 400;
  color: black;
  padding: 10px;
  border: 3px solid black;
  background: rgb(50, 50, 50);
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  color: white;
}
#submitBtn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  border-radius: inherit;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

#submitBtn:hover {
  background: rgba(100, 100, 100);
  transform: translate(0, 0.25em);
}

#submitBtn:hover::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0.5em, -1em);
}

#submitBtn:active {
  transform: translate(0em, 0.75em);
}
#submitBtn:focus {
  background-color: rgba(100, 100, 100);
  color: white;
}
#submitBtn:active::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0, -1em);
}
#demoM {
  width: 45%;
  cursor: pointer;
  font-family: hywen;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 20px;
  border: 3px solid rgb(0, 0, 0);
  background: rgb(50, 50, 50);
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

#demoM::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  border-radius: inherit;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

#demoM:hover {
  background: rgba(100, 100, 100);
  transform: translate(0, 0.25em);
}

#demoM:hover::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0.5em, -1em);
}

#demoM:active {
  transform: translate(0em, 0.75em);
}

#demoM:active::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0, -1em);
}

/*-----------------------------------------*/
#demo {
  cursor: pointer;
  border: 3px solid black;
  background: rgb(50, 50, 50);
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

#demo::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  border-radius: inherit;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

#demo:hover {
  background: rgba(100, 100, 100);
  transform: translate(0, 0.25em);
}

#demo:hover::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0.5em, -1em);
}

#demo:active {
  transform: translate(0em, 0.75em);
}

#demo:active::before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0);
  transform: translate3d(0, 0, -1em);
}

/*------------------------------------------------------------------------------hover&focus---------------------------------------------------------------------------*/

.arrowleft img:hover {
  background-color: rgba(50, 50, 50);
}

.arrowright img:hover {
  background-color: rgba(50, 50, 50);
}

/*-----------------------------------------------------------------------------------container-----------------------------------------------------------------------*/
.processallcontai {
  width: 100%;
  display: flex;
  height: 50px;
  position: relative;
  padding: 10px 0 0 0;
  background-color: rgb(50, 50, 50);
  bottom: 0px;
  left: 0px;
}
.progress-container {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.progress-container.change {
  flex-direction: row-reverse;
}
.progress-bar {
  height: 100%;
  width: 0;
  background-color: #76c7c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 25px;
  transition: width 0.5s ease-in-out;
}
#choose {
  position: absolute;
  display: block;
  border-radius: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 350px;
  background: rgba(50, 50, 50, 0.2);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#butchose {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
#slidembti {
  width: 48%;
  height: 100%;
  padding: 10px 10px 30px 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: rgba(50, 50, 50);
  overflow: hidden;
  position: relative;
}
#slidembti p {
  font-family: "hywen";
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  white-space: pre-line;
  text-align: left;
  margin: 0;
  color: white;
}
.instruction {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: rgba(50, 50, 50);
  text-align: left;
}
#contaidiagram {
  width: 48%;
  height: 100%;
  padding: 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: rgba(250, 250, 250);
  overflow: hidden;
  position: relative;
}
.btnpr {
  position: absolute;
  background-color: rgba(130, 130, 130, 0.5);
  border: none;
  padding: 2.5px;
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 10000;
}
#btnlt {
  right: 50px;
}
#contaiprocess {
  display: flex;
  flex-direction: row;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  left: 0;
  position: relative;
}
.process {
  height: 100%;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  padding: 10px;
  flex-direction: column;
}
.process img {
  width: 300px;
  margin: 20 auto;
}
.process label {
  flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14px;
  color: white;
}
.contenimgprocess {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.comment {
  width: 48%;
  height: 100%;
  padding: 10px;
  margin: 0px auto;
  border-radius: 20px;
  background-color: transparent;
  text-align: left;
}
.comment h3 {
  font-size: 20px;
  font-family: system-ui;
  overflow: auto;
  height: 100%;
  white-space: pre-line;
  font-weight: 500;
}
.indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 5px;
  height: 5px;
  background-color: rgba(130, 130, 130, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: rgba(250, 250, 250);
}
#test-container {
  position: absolute;
  display: flex;
  top: 53%;
  transform: translateY(-50%);
}

.sceentest {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  flex-shrink: 0;
  flex-grow: 0;
}

.testc {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  height: 80vh;
  border-radius: 30px;
  text-align: center;
  padding: 8vh;
  background: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(40px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.ques {
  width: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 0px auto;
  color: black;
  border-radius: 20px;
  background-color: rgba(50, 50, 50);
}

.quesans {
  padding: 0 10px 10px 10px;
  width: 50%;
  height: 85%;
  display: flex;
  justify-content: space-around;
}

.divide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 31%;
  justify-content: space-between;
}

.quesans2 {
  margin-top: 15vh;
  padding: 10px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.dividem {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.move1 {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
}

.submitBtnContainer {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------------------------------------------other---------------------------------------------------------------------------*/
.changecolor {
  background-color: rgba(100, 100, 100) !important;
  color: white !important;
}

#main-pic {
  position: relative;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  background-image: url(/img/others_imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/*---------------------------------------------------------------------------Alert Toast Message CSS Style-------------------------------------------------------------*/
.alert {
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

.alert .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}

.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
}

.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}

.alert .close-btn:hover {
  background: #ffc766;
}

.alert .close-btn .fas {
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}

.alert.hide {
  animation: hide_slide 1s ease forwards;
}

/*------------------------------------------------------------------------------responsible---------------------------------------------------------------------------*/

@media only screen and (max-width: 1100px) {
  h4 {
    font-size: 18px;
  }

  #butchose button {
    width: 170px;
    height: 170px;
  }

  #butchose {
    padding: 20px;
    padding-top: 45px;
  }
}

@media only screen and (max-width: 850px) {
  #choose {
    width: 500px;
    height: 330px;
  }
  #butchose button {
    width: 150px;
    height: 150px;
  }

  .testc {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }
  .quesans2 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 50%;
    height: 85%;
  }

  .dividem {
    flex-direction: column;
    height: fit-content;
    margin: auto;
  }

  #demoM {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .quesans {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20%;
    width: 50%;
    height: 60%;
    flex-wrap: wrap;
  }

  .quesans button {
    width: 95%;
    height: 35%;
  }
  #fistest1 {
    height: 50px;
  }
  .divide {
    height: 100%;
    width: 45%;
    margin-bottom: 25px;
  }

  .divide button {
    width: 100%;
    height: 46%;
  }
  .comment {
    width: 100%;
    height: 48%;
  }
  #contaidiagram {
    width: 100%;
    height: 48%;
  }
  #slidembti {
    width: 100%;
    height: 48%;
    padding: 10px 10px 20px 10px;
  }
  .process img {
    padding: 20px;
    margin: 0;
  }
  .contenimgprocess {
    flex-direction: row;
    overflow: hidden;
  }
  #slidembti p {
    overflow: auto;
  }
}

@media only screen and (max-width: 550px) {
  h2 {
    font-size: 22px;
  }

  #choose {
    width: 90%;
    height: 300px;
  }

  #butchose button {
    width: 130px;
    height: 130px;
  }

  #butchose {
    padding-top: 40px;
  }

  .instruction {
    font-size: 20px;
  }

  .ques {
    width: 100%;
    height: 35%;
    margin: 0;
  }

  .quesans {
    margin-top: 0px;
    margin-bottom: 80px;
    width: 100%;
    height: 40%;
    flex-wrap: wrap;
  }

  .quesans button {
    width: 95%;
    height: 35%;
  }
  #fistest1 {
    margin: 0;
    height: 50px;
  }
  .divide {
    height: 90%;
    width: 45%;
    margin-bottom: 20px;
  }

  .divide button {
    width: 100%;
    height: 44%;
  }

  .submitBtnContainer {
    height: 50px;
  }

  #demoM {
    width: 100%;
    height: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .dividem {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .quesans2 {
    width: 100%;
    height: 50%;
    padding: 20px;
  }
  .process img {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
  }
  .contenimgprocess {
    flex-direction: column;
    overflow: auto;
  }
  #slidembti p {
    overflow: unset;
  }
}

.alertsuccess {
  background: #c0f1d3;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 4px;
  border-left: 8px solid #47c07f;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.alertsuccess.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alertsuccess.show {
  animation: show_slide 1s ease forwards;
}

.alertsuccess .fa-circle-check {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #20a558;
  font-size: 30px;
}

.alertsuccess .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #60b080;
}

.alertsuccess .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #96e9b7;
  padding: 20px 18px;
  cursor: pointer;
}

.alertsuccess .close-btn:hover {
  background: #88e4ad;
}

.alertsuccess .close-btn .fas {
  color: #2ea862;
  font-size: 22px;
  line-height: 40px;
}

.alertsuccess.hide {
  animation: hide_slide 1s ease forwards;
}

.alerterror {
  background: #ffe1e2;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 4px;
  border-left: 8px solid #ff4756;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.alerterror.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alerterror.show {
  animation: show_slide 1s ease forwards;
}

.alerterror .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fc4858;
  font-size: 30px;
}

.alerterror .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #d2757e;
}

.alerterror .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ff99a5;
  padding: 20px 18px;
  cursor: pointer;
}

.alerterror .close-btn:hover {
  background: #ff939f;
}

.alerterror .close-btn .fas {
  color: #fa4c56;
  font-size: 22px;
  line-height: 40px;
}

.alerterror.hide {
  animation: hide_slide 1s ease forwards;
}

/*----------------------------------------------------------------------------Keyframe---------------------------------------------------------------------------------*/
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}
