* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.info-container {
  padding: 20px;
  color: white;
}

@font-face {
  font-family: hywen;
  src: url("/img/zhcn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: hywen;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 28px;
}
h2 {
  font-family: math;
  font-weight: 600;
  margin: 30px 0 0 0;
}
body {
  overflow-x: hidden;
  position: relative;
}

p {
  font-family: monospace;
  font-weight: 100;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.2rem;
  line-height: 25px;
  margin: 5px 0;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
::-webkit-scrollbar-track {
  border-radius: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(150, 150, 150);
  border-radius: 15px;
}

.commentPost-area {
  position: relative;
  background-color: rgb(150, 150, 150);
  font-size: 14px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(130, 130, 130);
}

.commentMsg {
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
  color: white;
}

.btn-hover {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.userName {
  color: #0093fc;
  font-size: 14px;
  margin: 0;
}

.time {
  color: #9ba4b0;
  font-size: 13px;
  margin: 0;
}

.userContent {
  color: white;
  font-size: 16px;
}

.userComment {
  background-color: #fafafa;
  padding: 15px;
  border-bottom: 1px solid rgb(130, 130, 130);
  position: relative;
}

.userInfo {
  display: flex;
  gap: 10px;
}

.userInfo img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.userInfo img:hover {
  cursor: pointer;
}
.dropdowncommentimg {
  height: 28px;
  transition-duration: 0.5s;
}
.editextarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(150, 150, 150);
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
}
.controlcomment {
  display: flex;
  flex-direction: row-reverse;
}
.controlcomment img {
  width: 100%;
  height: 100%;
}
.btn-savecomment {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid green;
  margin: 5px 5px 0 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
}
.btn-canceledit {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid red;
  margin: 5px 5px 0 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
}
.comment-area .userComment:nth-child(even) {
  background-color: rgb(70, 70, 70);
}
.comment-area .userComment:nth-child(odd) {
  background-color: rgb(60, 60, 60);
}
.commenttile {
  justify-content: space-between;
  display: flex;
  background-color: rgb(50, 50, 50);
  color: white;
  border: 1px solid rgb(130, 130, 130);
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  cursor: pointer;
}
.total-contai-comment {
  position: relative;
  overflow: hidden;
  height: fit-content;
  border-radius: 10px;
  padding: 0 20px 40px 20px;
}
.commentcontai {
  height: fit-content;
  position: relative;
  width: 100%;
  top: -10px;
  padding: 0 10px;
}
.commentlist {
  width: 100%;
  height: 100%;
  padding: 10px 0 0 0;
  border: 1px solid rgb(130, 130, 130);
  border-top: none;
  border-radius: 10px;
  overflow: hidden;
}
.comment-area div:last-child {
  border-bottom: none;
}
.options {
  display: none;
  /* Hide options by default */
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 7.9px 2.9px 7.9px 7.9px;
  border-bottom-left-radius: 10px;
  gap: 7.9px;
  background-color: rgb(0, 0, 0, 0.5);
  height: 40px;
}

.userComment:hover .options {
  display: flex;
  /* Show options on hover */
}

.btnedit {
  background-color: transparent;
  border: 1px solid rgb(260, 260, 260);
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  color: rgb(130, 130, 130);
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: auto 0;
}

.btndelete {
  background-color: transparent;
  border: 1px solid rgb(260, 260, 260);
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  color: rgb(130, 130, 130);
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: auto 0;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.icon-save {
  font-size: 35px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
table tr:last-child td {
  border: none;
}
thead {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
}

th {
  border: none;
  outline: none;
  font-size: 25px;
  color: white;
  font-weight: 900px;
  padding: 10px;
  border-bottom: 1px solid rgb(130, 130, 130);
  background-color: rgb(50, 50, 50);
}

tbody {
  border: none;
  outline: none;
}

td {
  padding: 10px;
  font-weight: 800px;
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(130, 130, 130);
}
.table-container {
  margin: 30px 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(130, 130, 130);
}
tbody tr:nth-child(odd) {
  background-color: rgba(70, 70, 70);
}

tbody tr:nth-child(even) {
  background-color: rgba(60, 60, 60);
}

tr:last-child > td {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.introduction {
  display: flex;
  justify-content: space-between;
}
.introduction h1 {
  margin: 0;
}
.uniLogo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imgContainer {
  width: 100px;
  height: 100px;
  background-color: #505050;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.heading {
  margin-bottom: 20px;
  background-color: rgb(50, 50, 50);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.introduction-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.introduction-content {
  display: flex;
  gap: 30px;
}
.location {
  display: flex;
  gap: 8px;
}

.location > p {
  margin: 0;
  color: white;
}

.location > i {
  margin-top: 5px;
}

.noCommentContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
}

.noCommentContainer > p {
  font-size: 25px;
  color: whitesmoke;
  font-weight: 900px;
}

.noCommentImg {
  width: 300px;
  height: 300px;
}
.saveUni {
  border: none;
  outline: none;
  background-color: transparent;
}

.edittedState {
  color: rgb(150, 150, 150);
  font-size: 13px;
  margin-top: 5px;
}
.alert {
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

.alert .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}

.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
}

.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}

.alert .close-btn:hover {
  background: #ffc766;
}

.alert .close-btn .fas {
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}

.alert.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

.actionBar {
  display: flex;
  gap: 10px;
  position: relative;
}

.likeArea > button {
  background: transparent;
  border: none;
  outline: none;
  color: #0093fc;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.8;
}

.replyArea > button {
  background: transparent;
  border: none;
  outline: none;
  color: #0093fc;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.8;
}

.reaction-container {
  background-color: white;
  border-radius: 150px;
  height: 40px;
  width: 230px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 30px;
  display: none;
}

.showing {
  animation: show 0.25s ease-in-out forwards;
}

@keyframes show {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.reaction {
  width: 500px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.reaction img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reaction:hover {
  transform: scale(1.5);
}

.reactions-container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 10px;
  align-items: center;
  justify-content: center;
}

.reactions {
  display: flex;
  padding: 5px;
}
