* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0f0f;
  margin: 0 auto;
  overflow-x: hidden;
}

.bannder-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 20px 20px 20px;
  margin-bottom: 100px;
}

.bannder-img {
  background-image: url("../../../img/others_imgs/default_banner_user.png");
  width: 100%;
  height: auto;
  padding-top: 28%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-size: cover;
  background-position: center;
}

.user-container {
  gap: 25px;
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  bottom: -70px;
  left: 44px;
}

.userAva {
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}

.userAva > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.userName {
  margin-top: 40px;
  font-size: 30px;
  color: white;
  font-weight: 900;
}

.userTop-container {
  width: 100%;
  height: auto;
  position: relative;
}

.userMiddle-container {
  padding: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.rightInfo-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 50px;
}

.introduction-container {
  background-color: #181a1b;
  border-radius: 16px;
  padding: 20px;
}

.introduceSelf-container > p {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: rgb(50, 50, 50);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: 900;
}

.othersSelf-container {
  color: white;
  font-size: 20px;
}

.testsJoined-container {
  background-color: #181a1b;
  border-radius: 16px;
  gap: 50px;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.testsJoined-container > p {
  margin-bottom: 20px;
  background-color: rgb(50, 50, 50);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: 900;
}

.leftInfo-container {
  flex-grow: 3;
  background-color: #181a1b;
  border-radius: 16px;
  padding: 20px;
  color: white;
  font-size: 20px;
  height: fit-content;
  max-height: 730px;
  overflow: scroll;
}

.testType1-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.testType2-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.testType2-container > p {
  color: white;
}

.testType1-container > p {
  color: white;
}

.testType1-container > img {
  border-radius: 50%;
}

.testType2-container > img {
  border-radius: 50%;
}

.Holland-img {
  width: fit-content;
  height: 100px;
}

.Mbti-img {
  width: fit-content;
  height: 100px;
}

.othersActivities-container {
  height: fit-content;
}

.othersActivities-container > p {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: rgb(50, 50, 50);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: 900;
}

.userComment {
  background-color: transparent;
  color: white;
  border-radius: 16px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 600px) {
  .userMiddle-container {
    flex-direction: column;
  }

  .user-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -110px;
    left: 50%;
    gap: 10px;
    transform: translate(-50%);
  }

  .bannder-container {
    margin-bottom: 200px;
  }

  .userAva {
    background-color: black;
    padding: 6px;
    border-radius: 50%;
  }

  .userName {
    margin-top: 0;
    font-weight: 900;
  }

  .bannder-img {
    padding-top: 50%;
  }
}
